<div class="sidenav">
    <div class="logo-container">Logo</div>
    <ul class="menu-items">
        <li routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">
            <mat-icon>assessment</mat-icon>Dashboard
        </li>
        <li routerLink="/user" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">
            <mat-icon>perm_identity</mat-icon>User
        </li>
        <li routerLink="/sales" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">
            <mat-icon>payments</mat-icon>Sales
        </li>
    </ul>

</div>