.dashboard-summary-content {
    display: flex;
    gap: 36px;
    width: 100%;
    justify-content: space-between;
    max-width: 1280px;
    padding: 28px;
    box-sizing: border-box;
    color: white;
}

.dashboard-summary-cards {
    width: 350px;

    >h4 {
        padding: 20px;
        text-align: center;
    }
}