/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    background: rgba(0, 0, 0, 0.9);
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.max-width {
    width: 100%;
    max-width: 1920px;
    height: 100vh;
}

.full-width {
    width: 100%;
}

.input-fields-display {
    display: flex;
    gap: 8px;
}

.mb-10 {
    margin-bottom: 10px;
}

/* Dark Theme Styles */
.dark-theme {
    background-color: #121212;
    color: #ffffff;
}